// @import "../cesium-demo/marker.css";
@import "./base.scss";
@import "./public.scss";
@font-face {
  font-family: "FZSKJW--GB1-0";
  src: url("../assets/font/FZShangKJW.TTF");
}

@font-face {
  font-family: "TVNordEF-BoldConObl";
  src: url("../assets/font/TVNordEFCondBoldOblique.woff.ttf");
}

@font-face {
  font-family: "TVNordEF-BoldCon";
  src: url("../assets/font/TVNordEFCondBold.otf");
}

@font-face {
  font-family: "TVNordEF-LightCon";
  src: url("../assets/font/TVNordEFCondLight.otf");
}
* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
#root {
  height: 100%;
}
#html {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  color: white;
}
#cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute !important;
  z-index: 2;
}
//cesium图层选择
.cesium-viewer-toolbar {
  display: none;
}
//cesium时间线
.cesium-viewer-timelineContainer {
  display: none;
}
//cesium logo
.cesium-viewer .cesium-widget-credits {
  display: none;
}
.container {
  width: 100%;
  // position: absolute;
  // z-index: 2;
  .header-box {
    width: 100%;
    height: vh(160);
    padding: vh(33) vw(39);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 4;

    background: linear-gradient(#081a31, rgba($color: #081a31, $alpha: 0));
    .header-L {
      .title {
        width: vw(445);
        height: vh(33);
        font-family: "FZSKJW--GB1-0";
        font-size: vw(33);
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #fff;
        line-height: vw(33);
        background-image: -webkit-linear-gradient(
          bottom,
          #a0d1e8,
          #e9f4fa,
          #fff
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .entitle {
        height: vh(9);
        font-family: ArialMT;
        font-size: vw(12);
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        letter-spacing: vw(0.4);
        color: #fff;
        opacity: 0.35;
        line-height: vw(33);
      }
    }
    .header-R {
      display: flex;
      list-style: none;
      width: vw(950);
      justify-content: space-around;
      font-size: vw(16);
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      a {
        text-decoration: none;
        color: #fff;
      }
      i {
        font-size: vw(32);
        line-height: vw(32);
        display: inherit;
      }
      .pointer {
        text-align: center;
        cursor: pointer;
        // color: white;
        div {
          padding-top: vh(12);
        }
      }
    }
  }
}
.ant-drawer{
  z-index: 3 !important;
  
  overflow: hidden;
  .ant-drawer-content-wrapper {
    box-shadow: none !important;
    height: auto !important;
    .ant-drawer-content {
      background: none;
      .ant-drawer-body {
        padding: 0 vw(30) 0 vw(30);
        overflow: hidden;
        // background-color: red;
        height: vh(850);
      }
    }
  }
}
.drawer {
  overflow: hidden !important;
  box-shadow: none;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  padding-top: vh(155);
  width: vw(480) !important;
  h1,
  // h2,
  h3,
  h4,
  h5 {
    color: #fff;
    margin: 0;
    font-family: "Microsoft Yahei";
    font-weight: normal;
  };
  .card{
    width: 100%;
    height: vh(280);
    .card-title{
      position: relative;
      height: vh(40);
      margin-bottom: vh(10);
      h1{
        font-size: vw(19);
      }
      .card-bg{
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url('../assets/image/background/ksh33.png') ;
      background-size: contain;
      // background-position: center;
      width: 100%;
      height: vh(20);
      }
    }
    .card-box{
      height: vh(220);
      // position: relative;
      .text_title{
        display: flex;
        justify-content: space-around;
        a{
          color: #fff;
          font-size: vw(14);
        }
      }
      .text_box{
        width: 100%;
        height: calc(36% - 15px);
        border: 1px solid #1380bd;
        position: relative;
        img{
          background-image: url('../assets/image/background/ksh34.png');
          background-size: contain;
          height: 4px;
          width: 4px;
          position: absolute;
          top: -2px;
          left: -2px;
        }
        ::after{
          background-image: url('../assets/image/background/ksh34.png');
          background-size: contain;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
        }
      }
    }
  }
  
}


